<section class="landing_section">
  <app-header></app-header>
  <div class="container main_one">
    <div class="main_section  ">
      <div class="row ">
        <div class="col-8">
          <div class="main_left">
            <p class="main_head">Know when is the best time to engage with your audience</p>
            <p class="main_caption">With OneSpot , send push notification/Email/SMS campaign at right_time to drive
              sales/subscriptions or activate your lost customers at almost no cost</p>
            <div class="main_mail">
              <form class="row">
                <div class="form-group col-8">
                  <input type="email" class="form-control" id="email">
                </div>
                <div class="col-4 p-0 ">

                  <button type="submit" class=" common-btn ">Get started </button>

                </div>
              </form>
            </div>
            <p class="main_signin">Already have an account ? <a href=""><span class="main_signin_text"> sign
                  in</span></a> </p>
          </div>
        </div>
        <div class="col-4">
          <div class="main_right">
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<section class="how_section container">
  <div class="home_block">
    <div class="how_heading">
      <div class="head_underline"></div>
      <p class="section_head m-0">HOW IT WORKS FOR YOU</p>
      <p class="section_caption ">Get the most out of your marketing channels. Try OneSpot today and find the best way
        to communicate with your audience. </p>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="how_inner_block">
          <img src="assets/images/icons/how_icon_1.png" alt="">
          <div class="inner_block_head">Increase open rate</div>
          <div class="inner_block_content">Average open rate for android is 5%, with OneSpot we have received upto 13%
            (for emails and push notifications).</div>
        </div>
      </div>
      <div class="col-4">
        <div class="how_inner_block">
          <div class="block_image">
            <img src="assets/images/icons/how_icon_2.png" class="justify-content-center" alt="">
          </div>

          <div class="inner_block_head">PUSH RIGHT CONTENT </div>
          <div class="inner_block_content">Get user live interest or intent and engage with the right content (coming
            soon)

          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="how_inner_block">
          <img src="assets/images/icons/how_icon_3.png" alt="">
          <div class="inner_block_head"> Use right channel</div>
          <div class="inner_block_content">Should you use email, SMS or push notification or not bother the user at all?
            We have got the answers (coming soon)

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features_section">
  <div class="feature_block container">
    <div class="row">
      <div class="col-4">
        <div class="feature_bg_img">
        </div>
      </div>
      <div class="col-8">
        <div class="features_heading">
          <div class="head_underline"></div>
          <p class="section_head m-0">FEATURES</p>
          <p class="section_caption ">We send a real-time signal the moment the user is highly active, thereby giving
            you a better open opportunity

          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pricing_section">
  <div class="pricing_block container">
    <div class="pricing_heading">
      <div class="head_underline"></div>
      <p class="section_head m-0">PRICING</p>
      <p class="section_caption ">We send a real-time signal the moment the user is highly active, thereby giving you a
        better open opportunity
      </p>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="pricing_inner_block">
          <p class="pricing_block_head">BASIC</p>
          <div class="pricing_amount">
            <span class="pricing_amount_value">0 <span class="dollor"> &#36;</span> </span>
          </div>
          <p class="prricing_block_content">We send a real-time signal the moment the user is highly active, thereby
            giving you a better open opportunity</p>
          <div>
            <p class="pricing_getstarted">Get started</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="pricing_inner_block">
          <p class="pricing_block_head">BASIC</p>
          <div class="pricing_amount">
            <span class="pricing_amount_value">0 <span class="dollor"> &#36;</span> </span>
          </div>
          <p class="prricing_block_content">We send a real-time signal the moment the user is highly active, thereby
            giving you a better open opportunity</p>
          <div>
            <p class="pricing_getstarted">Get started</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="pricing_inner_block">
          <p class="pricing_block_head">BASIC</p>
          <div class="pricing_amount">
            <span class="pricing_amount_value">0 <span class="dollor"> &#36;</span> </span>
          </div>
          <p class="prricing_block_content">We send a real-time signal the moment the user is highly active, thereby
            giving you a better open opportunity</p>
          <div>
            <p class="pricing_getstarted">Get started</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="get_in_touch_section">
  <div class="get_in_touch_block container">
    <div class="pricing_heading">
      <div class="head_underline"></div>
      <p class="section_head m-0">Get In Touch </p>
      <p class="section_caption ">We send a real-time signal the moment the user is highly active, thereby giving you a
        better open opportunity
      </p>
    </div>
    <div class="form_block">
      <div class="row ">
        <div class="col-8 ">
          <div class="form_content">
            <p class="form_head">
              Send us a Message
            </p>
            <form >
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="usr"   placeholder="Name" name="username">
                  </div>
                  <div class="form-group">
                    <input type="mail" class="form-control" id="mail"   placeholder="Email" name="username">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="sub"  placeholder="Subject"  name="username">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <textarea class="form-control" rows="5" id="comment"   placeholder="Message"  name="text"></textarea>
                  </div>
                </div>
                <div class="col-12">
                  <button class="common-btn">SEND MESSAGE</button>
                </div>
              </div>


            </form>
          </div>
        </div>
        <div class="col-4">
          <div class="details_block">
            <p class="content_head">
              Contact information
            </p>
            <div class="Contact_details_one">
              <div class="d-flex">
                <div class="mr-4 pt-2">
                  <img src="../../assets/images/icons/home.png" alt="">
                </div>
                <div class="">
                  <p class="con_details_head m-0">Hyderabad, India</p>
                  <p class="con_details_caption m-0">Jubilee Hills</p>
                </div>
              </div>
            </div>
            <div class="Contact_details_one">
                <div class="d-flex">
                  <div class="mr-4 pt-2">
                    <img src="../../assets/images/icons/phone.png" alt="">
                  </div>
                  <div class="">
                    <p class="con_details_head m-0">+91 9642375817</p>
                    <p class="con_details_caption m-0">Mon to Fri 10.00am to 6.00pm</p>
                  </div>
                </div>
              </div>
              <div class="Contact_details_one">
                  <div class="d-flex">
                    <div class="mr-4 pt-2">
                      <img src="../../assets/images/icons/message.png" alt="">
                    </div>
                    <div class="">
                      <p class="con_details_head m-0">support@OneSpot.com</p>
                      <p class="con_details_caption m-0">Send us your query anytime!</p>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="foter_block container">
    <div class="footer_block">
      <div class="row">
        <div class="col-4">
          <div class="head_underline"></div>
          <p class="footer_head">About Me</p>
          <p  class="footer_content">Do you want to be even more successful? Learn to love learning and growth.</p>
          <p  class="footer_content">Copyright © All rights reserved</p>
        </div>
        <div class="col-4">
            <p class="footer_head">Newsletter</p>
            <p  class="footer_content">Stay updated with our latest trends</p>
            <form >
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Your Email" id="mail" name="email">
                <div class="input-group-append">
                  <span class="input-group-text"><img src="./../../assets/images/icons/right-arrow@1X.png" alt=""></span>
                </div>
              </div>
            </form>
        </div>
        <div class="col-4">
            <p class="footer_head">Follow Me</p>
            <p  class="footer_content">Let us be social</p>
            <div class="d-flex pt-3">
                <img src="./../../assets/images/icons/dribbble.png" alt="" class="px-3"><img src="./../../assets/images/icons/facebook.png" alt="" class="px-3"><img src="./../../assets/images/icons/twitter.png" alt="" class="px-3">
              </div>
        </div>
      </div>
    </div>
  </div>
<div class="footer_bg">

</div>
</section>
